<div class="pets-view">
    <div class="pets-container">
        <h1 class="pets-title">Pets</h1>
        <div class="pets-tabs">
            <button class="tab" [class.active]="activeTab === 'Todos'" (click)="filterPets('Todos')">Todos</button>
            <button class="tab" [class.active]="activeTab === 'Cachorro'"
                (click)="filterPets('Cachorro')">Cachorros</button>
            <button class="tab" [class.active]="activeTab === 'Gato'" (click)="filterPets('Gato')">Gatos</button>
            <button class="tab" [class.active]="activeTab === 'Ave'" (click)="filterPets('Ave')">Aves</button>
            <button class="tab" [class.active]="activeTab === 'Roedor'" (click)="filterPets('Roedor')">Roedores</button>
            <button class="tab" [class.active]="activeTab === 'Réptil'" (click)="filterPets('Réptil')">Répteis</button>
            <button class="tab" [class.active]="activeTab === 'Outro'" (click)="filterPets('Outro')">Outros</button>
        </div>
        <div class="cards-grid">
            <app-card-pets *ngFor="let pet of filteredPets" [pet]="pet" />
        </div>
    </div>
</div>