<div class="pets-view">
    <div class="pets-container">
        <h1 class="pets-title">Pets</h1>
        <div class="pets-tabs">
            <button class="tab active">Todos</button>
            <button class="tab">Cachorros</button>
            <button class="tab">Gatos</button>
            <button class="tab">Aves</button>
            <button class="tab">Roedores</button>
            <button class="tab">Réptil</button>
            <button class="tab">Outros</button>
        </div>
        <div class="cards-grid">
            <app-card-pets *ngFor="let pet of pets" [pet]="pet"></app-card-pets>
        </div>
    </div>
</div>