.container {
    max-width: 450px;
    background-color: var(--neutral-white);
    border-radius: 12px;
    box-shadow: 0 10px 30px var(--shadow-light);
    overflow: hidden;
}

.header {
    background: linear-gradient(135deg, var(--coral-pink), var(--persian-red));
    color: var(--neutral-white);
    padding: 30px 20px;
    text-align: center;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 600;
}

.header p {
    opacity: 0.9;
    font-size: 14px;
}

.form-container {
    padding: 30px 25px;
}


.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--dark-slate-gray);
    font-size: 18px;
}

.form-control {
    width: 90%;
    padding: 14px 16px;
    border: 2px solid var(--persian-red);
    border-radius: 6px;
    font-size: 15px;
    transition: all 0.3s;
}

.form-control:focus {
    outline: none;
    border-color: var(--burnt-umber);
    box-shadow: 0 0 0 3px var(--champagne-pink);
}

.btn {
    background-color: var(--caribbean-current);
    color: var(--neutral-white);
    border: none;
    padding: 14px 20px;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
}

#icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 42px;
    color: var(--dark-slate-gray);
}

.help-text {
    font-size: 13px;
    color: var(--dark-slate-gray);
    margin-top: 8px;
    margin-bottom: 26px;
    line-height: 1.5;
}