.navbar {
    background-color: var(--white-transparent);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 15px var(--shadow-light);
}

.navbar-container {
    display: flex;
    color: var(--caribbean-current);
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.logo span {
    color: var(--persian-red);
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    transition: color 0.3s ease;
    position: relative;
}

.nav-links a:hover {
    color: var(--burnt-umber);
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--burnt-umber);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        gap: 20px;
    }
}