<header class="navbar">
    <div class="navbar-container">
        <a class="logo" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="https://i.postimg.cc/CLB7n8GL/1745707069008.png" class="icon" />
            <h1> Aqui no <span>Prédio</span> </h1>
        </a>
        <nav class="nav-links">
            <a class="material-symbols-outlined" routerLink="/servicos" routerLinkActive="active" ariaCurrentWhenActive="page">
                assignment_ind
            </a>
            <a class="material-symbols-outlined"  routerLink="/pets" routerLinkActive="active" ariaCurrentWhenActive="page">
                pets
            </a>
            <a class="material-symbols-outlined" routerLink="/sindico" routerLinkActive="active" ariaCurrentWhenActive="page">
                lock_person
            </a>
        </nav>
    </div>
</header>