<div class="navbar">
    <img src="https://placehold.co/40" class="icon" />
    <h1 class="navbar-title">Aqui no Prédio</h1>

    <ul class="navbar-items">

        <li>
            <a class="material-symbols-outlined" href="">
                assignment_ind
            </a>
        </li>
        <li>
            <a class="material-symbols-outlined" href="">
                chat
            </a>
        </li>
        <li>
            <a class="material-symbols-outlined" href="">
                pets
            </a>
        </li>
        <li>
            <a class="material-symbols-outlined" href="">
                lock_person
            </a>
        </li>
    </ul>
</div>