<div class="pet-card">
    <div class="pet-image" style="background-image: url('https://placehold.co/400')">
        <span class="pet-category">Cachorro</span>
        <div class="pet-actions">
            <button class="pet-action-btn edit-btn">
                <span>✏️</span>
            </button>
            <button class="pet-action-btn delete-btn">
                <span>🗑️</span>
            </button>
        </div>
    </div>
    <div class="pet-content">
        <h3 class="pet-name">Bob</h3>
        <div class="pet-data">
            <p><span>Características:</span>
                Labrador, dourado, dócil e brincalhão</p>
            <p><span>Tutor:</span>
                Fernanda Mendes</p>
        </div>

        <div class="pet-meta">
            <span class="pet-apartment">Apto 401, Torre C</span>
        </div>
    </div>
</div>