<div class="pet-card">
    <div class="pet-image" style="background-image: url('https://placehold.co/400')">
        <span class="pet-category">{{ pet.petType }}</span>
        <div class="pet-actions">
            <button class="pet-action-btn edit-btn">
                <span>✏️</span>
            </button>
            <button class="pet-action-btn delete-btn">
                <span>🗑️</span>
            </button>
        </div>
    </div>

    <div class="pet-content">
        <h3 class="pet-name">{{ pet.petName }}</h3>
        <div class="pet-data">
            <p><span>Características:</span>
                {{ pet.characteristics }}
            </p>
            <p><span>Tutor:</span>
                {{ pet.person }}
            </p>
        </div>

        <div class="pet-meta">
            <span class="pet-apartment">Apto {{ pet.apartment }}</span>
        </div>
    </div>
</div>