<div class="post-card">
    <div class="post-image" style="background-image: url('/api/placeholder/400/200')">
        <span class="post-category">Avisos</span>
    </div>
    <div class="post-content">
        <h3 class="post-title">Reunião de Condomínio: 25/04/2025</h3>
        <p class="post-excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita iure, asperiores
            aspernatur id rerum veniam sapiente necessitatibus cupiditate. </p>
        <div class="post-meta">
            <span class="post-date">22 Abril, 2025</span>
        </div>
    </div>
</div>

<div class="post-card">
    <div class="post-image" style="background-image: url('/api/placeholder/400/200')">
        <span class="post-category">Eventos</span>
    </div>
    <div class="post-content">
        <h3 class="post-title">Festa: 26/04/2025</h3>
        <p class="post-excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita iure, asperiores
            aspernatur id rerum veniam sapiente necessitatibus cupiditate. </p>
        <div class="post-meta">
            <span class="post-date">22 Abril, 2025</span>
        </div>
    </div>
</div>

