<div class="post-card">
    <div class="post-header" [ngClass]="{
        'post-header-aviso': post.postType === 'Aviso',
        'post-header-evento': post.postType === 'Evento'
    }">
        {{post.postType}}
    </div>
    <div *ngIf="accessGranted$ | async">
        <button (click)="editPost()">Editar</button>
        <button (click)="deletePost()">Deletar</button>
    </div>
    <div class="post-content">
        <h3 class="post-title">{{post.postTitle}}</h3>
        <p class="post-excerpt">{{post.description}}</p>
        <div class="post-meta">
            <span class="post-date">Publicado em {{dateFormatter() }}</span>
        </div>
    </div>
</div>